# Fichiers d'objets compilés
*.o
*.obj

# Fichiers exécutables
*.exe
*.out
# Dossiers correspondants
bin/
out/

# Fichiers générés
resources/output_data.csv

# Fichiers générés par l'IDE
.vscode/
.idea/